@font-face {
  font-family: FiraCode;
  src: url(https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf);
}

body, code, input {
  font-family: FiraCode, monospace;
}

body {
  background: #444444;
  font-size: 1.4em;
  width: 35em;
  margin: auto;
}

img {
  text-align: center;
}

section {
  background: white;
  padding: 1em;
  margin-bottom: 1.5em;
}

form {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 0.4em;
  margin: 0 0 -0.8em;
  font-weight: normal;
}

label {
  display: block;
  padding: 0.4em;
  color: gray;
}

form input[type='text'] {
  width: 90%;
  display: block;
  padding: 0.4em;
  margin-left: 0.4em;
  font-size: 1em;
  border: 3px solid rgb(226, 226, 226);
  outline: none;
}

form input[type='radio'] {
  margin-left: 1.5em;
}

form input:focus {
  border: 3px solid rgb(135, 135, 135);
}

form input[type='submit'] {
  width: 20%;
  padding: 0.4em;
  margin-left: 0.4em;
  font-size: 1em;
  border: 3px solid rgb(226, 226, 226);
  outline: none;
  font-family: monospace;
}

code {
  display: block;
  color: gray;
  font-size: 0.8em;
  margin-left: 3.5em;
}

.radio-line,
.checkbox-line {
  margin: 0;
  padding: 0;
}

.radio-line label,
.checkbox-line label {
  display: inline-block;
  color: black;
}

.visualization {
  border: 1px solid gray;
  padding: 5px;
  display: inline-block;
}

.visualization strong {
  display: block;
}

.visualization i {
  font-style: normal;
}

/* .radio-line code {
  display: none;
} */

.cases, .copulas, .whom {
  font-size: 0.7em;
}

a {
  color: black;
}

.home {
  display: block;
  overflow: hidden;
}

.home img {
  float: left;
}

.home h1 {
  font-size: 1em;
  margin: 2em 0 0 0;
  padding: 0.2em;
  font-weight: normal;
  color: white;
}

.home h2 {
  font-size: 1em;
  margin: 0;
  padding: 0.2em;
  font-weight: normal;
  color: #a3ffa6;
}

.home p {
  margin: 0;
  padding: 0.2em;
  font-size: 0.8em;
  font-weight: normal;
  color: #a5a5a5;
}

.home {
  text-decoration: none;
}

.examples {
  font-size: 0.7em;
  margin: 0.7em 0 0 0.8em;
}

.examples h4 {
  margin: 1em 0 0;
  color: gray;
  font-weight: normal;
  padding: 0;
  display: inline-block;
}
